/* This style sheet is for the index page only*/
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    max-width: 2560px;
}
/*HEADER BOX*/
header {
    background-image: url(images/ponga.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    margin-block-start: 0px;
    margin-block-end: 0px;
}
h1 {
    font-size: 90px;
    font-weight: bolder;
    text-transform: uppercase;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-bottom: 5px;
    }

    .header-tag {
        font-size: 50px;
        margin-top: 0px;
        margin-bottom: 10px;
    }

body {
    background-image: linear-gradient(to bottom right, #689d5940, white);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Noto Sans JP', sans-serif;
    }



