/* This style sheet is for the index page only*/
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    max-width: 2560px;
}
/*HEADER BOX*/
header {
    background-image: url(images/ponga.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    margin-block-start: 0px;
    margin-block-end: 0px;
    border-radius: 5px;
    border-bottom-style: solid;
    border-bottom-width: 10px;
    border-bottom-color: rgb(63, 153, 175);
}
h1 {
    font-size: 90px;
    font-weight: bolder;
    text-transform: uppercase;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-bottom: 5px;
    }

    .header-tag {
        font-size: 50px;
        margin-top: 0px;
        margin-bottom: 10px;
    }

body {
    background-image: linear-gradient(to bottom right, #689d5940, white);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Noto Sans JP', sans-serif;
    text-align: center;
    }

.introduction {
    text-align: justify;
    font-size: 2em;
    margin: 60px 60px 60px 60px;
}

.core-card {
    font-size: 1.8em;
    width: 50%;
    background-position:left;
    background-image: url(images/Orange-pattern.png);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
    padding: 20px 20px 20px 20px;
    margin: auto;
    box-shadow: gray -20px 20px;
}

.tech-card {
    font-size: 1.8em;
    width: 50%;
    background-image: url(images/Teal-pattern.png);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
    padding: 20px 20px 20px 20px;
    margin-left: auto;
    margin-top: 50px;
    margin-right: auto;
    position: right;
    box-shadow: gray -20px 20px;
}


footer {
    background-image: url(images/ponga.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    margin-block-start: 0px;
    margin-block-end: 0px;
    border-radius: 5px;
    border-top-style: solid;
    border-top-width: 10px;
    border-top-color: rgb(63, 153, 175);
    padding-bottom: 10px;    
    }



